{% extends "base.html" %}
{% block content %}
<h1 class="text-center mb-4 fw-bold">Boston House Price Prediction</h1>

<div class="card p-4 shadow">

  <form action="/predict" method="post" onsubmit="showSpinner()">

    <div class="row">
      {% for label, name in {
        "CRIM: Crime Rate by Town": "CRIM", 
        "ZN: Residential Land for Large Lots":"ZN",
        "INDUS: Non-Retail Business Acres":"INDUS",
        "CHAS: Near Charles River (1 = Yes, 0 = No)":"CHAS",
        "NOX: Nitric Oxides Concentration":"NOX",
        "RM: Average Number of Rooms":"RM",
        "AGE: Proportion of Owner-Occupied Units Built Prior to 1940":"AGE",
        "DIS: Weighted Distance to Employment Centers":"DIS",
        "RAD: Index of Accessibility to Radial Highways":"RAD",
        "TAX: Property Tax Rate":"TAX",
        "PTRATIO: Pupil-Teacher Ratio":"PTRATIO",
        "B: Proportion of Black Residents":"B",
        "LSTAT: Percentage of Lower Status Population":"LSTAT"
      }.items() %}

      <div class="col-md-6 mb-3">
        <label class="form-label fw-semibold">{{label}}</label>
        <input type="number" step="any" name="{{name}}" class="form-control" required>
      </div>

      {% endfor %}
    </div>

    <button class="btn btn-primary w-100 mt-2">Predict</button>
    <button type="reset" class="btn btn-secondary w-100 mt-2">Reset</button>

  </form>

  {% if prediction_text %}
  <div class="alert alert-info text-center mt-4">
    <h4>Estimated Price:</h4>
    <h2>{{ prediction_text }}</h2>
  </div>
  {% endif %}

</div>

<footer>
  © 2024 House Price Predictor | Developed by Ravsaheb
</footer>
{% endblock %}


